<header>
  <h2>
    <b>
      Olá, Ricardo
    </b>
  </h2>
</header>

<main>
  <section class="top">

    <mat-card>
      <div>
        <mat-icon>
          attach_money
        </mat-icon>

        <h3 class="title">
          Ganho total do mês
        </h3>
      </div>

      <span style="flex: 1 1 auto;"></span>

      <div>
        <h3>
          <b>
            R$ 1.200,00
          </b>
        </h3>
        <button mat-icon-button>
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
    </mat-card>

    <mat-card>
      <div>
        <mat-icon>
          money_off
        </mat-icon>

        <h3 class="title">
          Total de gastos
        </h3>
      </div>

      <span style="flex: 1 1 auto;"></span>

      <div>
        <h3>
          <b>
            R$ 600,00
          </b>
        </h3>
        <button mat-icon-button>
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
    </mat-card>

    <mat-card>
      <div>
        <mat-icon>
          account_balance_wallet
        </mat-icon>

        <h3 class="title">
          Total restante
        </h3>
      </div>

      <span style="flex: 1 1 auto;"></span>

      <div>
        <h3>
          <b>
            R$ 500,00
          </b>
        </h3>
        <button mat-icon-button>
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
    </mat-card>

    <mat-card>
      <div>
        <mat-icon>
          pie_chart
        </mat-icon>

        <h3 class="title">
          Porcentagem gasta
        </h3>
      </div>

      <span style="flex: 1 1 auto;"></span>

      <div>
        <h3>
          <b>
            75%
          </b>
        </h3>
        <button mat-icon-button>
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
    </mat-card>

    <div class="circle">
      <div></div>
    </div>
  </section>

  <section class="bottom">
    <div class="date">
      <mat-form-field>
        <mat-label>Data</mat-label>
        <mat-select>
          @for (date of dates; track date) {
          <mat-option [value]="date.value">{{date.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <span style="flex: 1 1 auto;"></span>

    <button mat-icon-button>
      <mat-icon>refresh</mat-icon>
    </button>
  </section>
</main>



<!-- <ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="title">
      SQLite
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Adicione algo: " [(ngModel)]="item" name="item">
    </ion-input>
    <ion-button (click)="create()" fill="outline" color="dark">
      <ion-icon name="add-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-list class="items">
    <ion-item *ngFor="let item of items">
      <ion-label>
        Item: {{ item }}
      </ion-label>
      <ion-button slot="end" fill="outline" (click)="update(item)" color="dark">
        <ion-icon slot="icon-only" name="pencil-outline" color="dark"></ion-icon>
      </ion-button>
      <ion-button slot="end" fill="outline" (click)="delete(item)" color="danger">
        <ion-icon slot="icon-only" name="trash-outline" color="danger"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content> -->