<header>
  <h2>
    <b>
      Dashboard
    </b>
  </h2>

  <span style="flex: 1 1 auto;"></span>

  <button mat-icon-button color="warn" (click)="limparDadosMes()" matTooltip="Limpar dados do mês">
    <mat-icon>delete</mat-icon>
  </button>
</header>

<main>
  <section class="top">

    <mat-card>
      <div>
        <mat-icon>
          attach_money
        </mat-icon>

        <h3 class="title">
          Ganho total do mês
        </h3>
      </div>

      <span style="flex: 1 1 auto;"></span>

      <div>
        <h3>
          <b>
            R$ {{totalGanhos | number:'1.2-2'}}
          </b>
        </h3>
        <button mat-icon-button (click)="irParaGanhos()">
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
    </mat-card>

    <mat-card>
      <div>
        <mat-icon>
          money_off
        </mat-icon>

        <h3 class="title">
          Total de gastos
        </h3>
      </div>

      <span style="flex: 1 1 auto;"></span>

      <div>
        <h3>
          <b>
            R$ {{totalGastos | number:'1.2-2'}}
          </b>
        </h3>
        <button mat-icon-button routerLink="/gastos">
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
    </mat-card>

    <mat-card>
      <div>
        <mat-icon>
          account_balance_wallet
        </mat-icon>

        <h3 class="title">
          Total restante
        </h3>
      </div>

      <span style="flex: 1 1 auto;"></span>

      <div>
        <h3>
          <b>
            R$ {{totalGanhos - totalGastos | number:'1.2-2'}}
          </b>
        </h3>
        <button mat-icon-button routerLink="/total-restante">
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
    </mat-card>

    <mat-card>
      <div>
        <mat-icon>
          pie_chart
        </mat-icon>

        <h3 class="title">
          Porcentagem gasta
        </h3>
      </div>

      <span style="flex: 1 1 auto;"></span>

      <div>
        <h3>
          <b>
            {{porcentagemGasta.toFixed(1)}}%
          </b>
        </h3>
        <button mat-icon-button routerLink="/porcentagem-gasta">
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
    </mat-card>

    <mat-card>
      <div>
        <mat-icon>
          savings
        </mat-icon>

        <h3 class="title">
          A receber
        </h3>
      </div>

      <span style="flex: 1 1 auto;"></span>

      <div>
        <h3>
          <b>
            R$ {{totalAReceber | number:'1.2-2'}}
          </b>
        </h3>
        <button mat-icon-button routerLink="/a-receber">
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
    </mat-card>
  </section>

</main>

<footer>
  <section class="bottom">
    <div class="date">
      <mat-form-field>
        <mat-label>Mês</mat-label>
        <mat-select [(ngModel)]="mesSelecionado" name="mes" (selectionChange)="onMesChange($event)">
          <mat-option *ngFor="let date of dates" [value]="date.value">
            {{date.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ano</mat-label>
        <mat-select [(ngModel)]="anoSelecionado" name="ano" (selectionChange)="onMesChange($event)">
          <mat-option *ngFor="let ano of anos" [value]="ano">
            {{ano}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </section>
</footer>