<header>
  <h5>
    <b>
      Olá, Ricardo
    </b>
  </h5>
</header>

<main>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h5>
          Ganho total do mês
        </h5>
      </mat-card-title>
      <mat-card-subtitle>
        <h5>
          <b>
            R$ 1.200,00
          </b>
        </h5>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-icon-button>
        <mat-icon>add_circle</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>



  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h5>
          Total de gastos
        </h5>
      </mat-card-title>
      <mat-card-subtitle>
        <h5>
          <b>
            R$ 900,00
          </b>
        </h5>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-icon-button>
        <mat-icon>add_circle</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>



  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h5>
          Total restante
        </h5>
      </mat-card-title>
      <mat-card-subtitle>
        <h5>
          <b>
            R$ 300,00
          </b>
        </h5>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-icon-button>
        <mat-icon>add_circle</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>



  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h5>
          Porcentagem gasta
        </h5>
      </mat-card-title>
      <mat-card-subtitle>
        <h5>
          <b>
            80%
          </b>
        </h5>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-icon-button>
        <mat-icon>add_circle</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>


</main>

<footer>
  <button mat-icon-button>
    <mat-icon>
      visibility
    </mat-icon>
  </button>
</footer>


<!-- <ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="title">
      SQLite
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Adicione algo: " [(ngModel)]="item" name="item">
    </ion-input>
    <ion-button (click)="create()" fill="outline" color="dark">
      <ion-icon name="add-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-list class="items">
    <ion-item *ngFor="let item of items">
      <ion-label>
        Item: {{ item }}
      </ion-label>
      <ion-button slot="end" fill="outline" (click)="update(item)" color="dark">
        <ion-icon slot="icon-only" name="pencil-outline" color="dark"></ion-icon>
      </ion-button>
      <ion-button slot="end" fill="outline" (click)="delete(item)" color="danger">
        <ion-icon slot="icon-only" name="trash-outline" color="danger"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content> -->